<header class="site-header">
    <div class="site-header-content">
        <div class="logo">
            <a href="/" aria-label="Velero homepage"><img src="/img/{{ .Site.Params.logo }}" class="logo" alt="Homepage"/></a>
        </div>
        <ul class="nav-menu" id="header-nav">
            <li class="home"><a href="/" title="{{ .Site.Title }}">Home</a></li>
            <li class="docs"><a href="/docs/{{ .Site.Params.latest }}" title="Documentation">Documentation</a></li>
            <li class="plugins"><a href="/plugins" title="Plugins">Plugins</a></li>
            <li class="blog"><a href="/blog" title="Blog Posts">Blog</a></li>
            <li class="community"><a href="/community" title="Community">Community</a></li>
            <li class="resources"><a href="/resources" title="Resources">Resources</a></li>
        </ul>
        <div class="nav-mobile-link">
            <a href="javascript:void(0);" id="nav-mobile-toggle"></a>
        </div>
    </div>
</header>
