<div class="col-xs col-md-4">
    <div class="card card-light mb-3 mb-md-0 blog-card">
        <div class="card-body match-height">
            <div class="post-thumbnail">
                {% if post.image %}
                <img src="{{ post.image }}" alt="{{ post.title }}" />
                {% else %}
                <img src="/img/{{ site.logo }}" alt="{{ post.title }}" />
                {% endif %}
            </div>
            <article class="post">
                <h5 class="text-center font-weight-medium">
                    <a href="{{ site.baseurl }}{{ post.url }}" class="post-title">{{ post.title }}</a>
                </h5>
                <div class="post-entry">
                    {{ post.excerpt | strip_html }}
                </div>
            </article>
        </div>
    </div>
</div>
