{{casestudy_background}}
<div class="alternating-cards">
  {% for casestudy in site.casestudies %}
    <div class="row no-gutters align-items-center">
      {% if casestudy.icon %}
      <div class="order-xs-first col-md-3 match-height icon bg-color-{{ page.backgrounds.case_study }} {%  cycle('order-md-first', 'order-md-last') %}">
        <img src="/img/case-study-icons/{{ casestudy.icon }}" alt="{{ casestudy.title }}"/>
      </div>
      {% endif %}
      <div class="order-xs-last col-md-9 {% cycle('order-md-last', 'order-md-first') %}">
        <div class="card-body">
          {% if casestudy.title != blank %}
          <h5 class="card-title">{{ casestudy.title }}</h5>
          {% endif %}
          <p class="card-text">{{ casestudy.content | markdownify }}</p>
          {% for link in casestudy.links %}
          <a class="card-link btn btn-primary btn-sm" href="{{ link[1] }}">{{ link[0] }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if limit > 0 and forloop.index >= limit %}
        {% break %}
    {% endif %}
  {% endfor %}
</div>
