<div class="row">
{% for casestudy in site.casestudies %}
    <div class="card card-dark col-md-12 mb-3 mb-sm-0 {% if forloop.index > 1 %}mt-3{% endif %}">
        <div class="card-body match-height text-center">
            {% if casestudy.title != blank %}
            <h5 class="card-title">{{ casestudy.title }}</h5>
            {% endif %}
            {% if casestudy.subtitle != blank %}
            <h6 class="card-subtitle mb-2">{{ casestudy.subtitle }}</h6>
            {% endif %}
            <p class="card-text">{{ casestudy.content | markdownify }}</p>
            {% for link in casestudy.links %}
            <a class="card-link btn btn-primary" href="{{ link[1] }}">{{ link[0] }}</a>
            {% endfor %}
        </div>
    </div>
        {% if limit > 0 and forloop.index >= limit %}
            {% break %}
        {% endif %}
{% endfor %}
</div>
