<div class="row">
  <div class="col">
    <h2 class="mb-2">The {{ site.title }} Team</h2>    
  </div>
</div>
<div class="row">
  <div class="col">
    <p>{{ site.title }} is released as open source software and provides community support through our GitHub project page.
        If you encounter an issue or have a question, feel free to reach out on the <strong><a href="{{ site.gh_repo }}/issues" class="light">GitHub issues page for {{ site.title }}</a></strong>.</p>
    <p>The Velero project team welcomes contributions from the community, please see our <strong><a href="https://velero.io/docs/main/start-contributing/" class="light">contributing documentation</a></strong>.
    </p>
  </div>
</div>
<div class="row thumbnail-grid mt-5">
  {% for person in site.contributors %}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="media thumbnail-item">
        <img src="{{ person.image }}" class="rounded-circle" alt="Person" />
        <div class="media-body align-self-center">
          <h6><a href="https://github.com/{{ person.github_handle }}">{{ person.first_name }} {{ person.last_name }}</a></h6>
        {{ person.content | markdownify }}    
        </div>
      </div>
    </div>
  {% endfor %}
</div>
