<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="{{ .id }}">
  <div class="container-fluid site-outer-container">
    <div class="site-container">
      {% include site-header.html %}
      <div class="post-single-hero bg-color-{{ .Site.Params.backgroundColor }}">
        <div class="section">
            <div class="section-content">
            <h1>{{ .title }}</h1>
            </div>
        </div>
      </div>
        <div class="post-single-body">
        <div class="section section-card">
            <div class="section-content pt-4 pb-0">
            {{ .Content }}
            </div>
        </div>
        </div>
      {% include footer.html %}
    </div>
  </div>
</body>

</html>