<!DOCTYPE html>
<html lang="en">
{% include head-docs.html %}
{% if page.version != "main" %}
  <!-- Block google from indexing versioned docs -->
  <meta name="robots" content="noindex">
{% endif %}
{% if page.name != "README.md" %}
  <title>{{ site.title }} Docs - {{page.title}}</title>
{% endif %}
{% if page.name == "README.md" %}
  <title>{{ site.title }} Docs - Overview</title>
{% endif %}

<body id="docs">
  <div class="container-fluid site-outer-container">
    <div class="site-container">
      {% include site-header.html %}
      <div class="post-single-hero post-single-hero-short bg-color-{{ site.hero.background-color }}">
        <div class="section">
            <div class="section-content">
              <h1>Documentation</h1>
            </div>
        </div>
      </div>
        <div class="section section-card pt-4 pb-0">
          <div class="container container-max">
            <div class="row">
              <div class="col-md-3 toc">
                {% include versions.html %}
                <br />
                <form class="d-flex align-items-center">
                  <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
                    <input type="search" class="form-control docsearch-input" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
                  </span>
                </form>
                {% include nav.html %}
              </div>
              <div class="col-md-8">
              {% include version-warning.html %}
              <div class="documentation-container">
                {{ content }}
              </div>
              </div>
            </div>
          </div>
        </div>
      {% include footer.html %}
    </div>
  </div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
apiKey: '3d80f66bb5ecf85f8e2760caef383f24',
indexName: 'velero',
inputSelector: '.docsearch-input',
algoliaOptions: { 'facetFilters': ["version:{{ page.version }}"] },
debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
</body>

</html>
