{% assign parts = page.redirect.to | split: "/" %}
{% assign basename = parts.last %}
{% if basename == 'LATEST' %}
  {% assign destination = site.latest | absolute_url %}
{% else %}
  {% assign destination = page.redirect.to %}
{% endif %}
<!DOCTYPE html>
<html lang="en-US">
  <meta charset="utf-8">
  <title>Redirecting&hellip;</title>
  <link rel="canonical" href="{{ destination }}">
  <meta http-equiv="refresh" content="0; url={{ destination }}">
  <meta name="robots" content="noindex">
  <h1>Redirecting&hellip;</h1>
  <a href="{{ destination }}">Click here if you are not redirected.</a>
  <script>location="{{ destination }}"</script>
</html>
