<!DOCTYPE html>
<html lang="en">
<head>
  {% if page.dir contains "/docs/" %}
  <meta http-equiv="refresh" content="0; url=/docs/{{ site.latest }}/{{ page.destination }}" />
  <script type="text/javascript">
    window.location.href = "/docs/{{ site.latest }}/{{ page.destination }}"
  </script>
  <title>Redirecting to docs...</title>
</head>
<body>
Redirecting to {{ page.destination }}. If it doesn't load, click <a href="/docs/{{ site.latest }}/{{ page.destination }}" />here</a>.
</body>
</html>
  {% endif %}
