<div class="row">
    {{ $limit := int (.Scratch.Get "limit") }}
    {{ $pages := (.Site.GetPage "/blog").Pages }}

    {{ if gt $limit 0 }}
        {{ $pages = first $limit $pages }}
    {{ end }}

    {{ range $index, $page := $pages }}
        {{ partial "blog-post-card.html" . }}

        {{ $currentIndex := add $index 1 }}
        {{ $row := mod $currentIndex 3 }}
        {{ if (and (eq $row 0) (ne $currentIndex $limit)) }}
            </div>
            <div class="row mt-4">
        {{ end }}
    {{ end }}
</div>