<div class="col-xs col-md-4">
    <div class="card card-light mb-3 mb-md-0 blog-card">
        <div class="card-body match-height">
            <div class="post-thumbnail">
                {{ if .Params.image }}
                    <img src="{{ .Params.image }}" alt="{{ .Title }}" />
                {{ else }}
                    <img src="/img/{{ .Site.Params.logo }}" alt="{{ .Title }}" />
                {{ end }}
            </div>
            <article class="post">
                <h5 class="text-center font-weight-medium">
                    <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>
                </h5>
                <div class="post-entry">
                    {{ plainify .Params.excerpt }}
                </div>
            </article>
        </div>
    </div>
</div>