<div class="alternating-cards">
    {{ $caseStudies := .Site.GetPage "/casestudies" }}
    {{ $caseStudyBackground := .Params.backgrounds.case_study }}
    {{ $limit := .Scratch.Get "limit" }}
    {{ range $index, $page := sort (first $limit $caseStudies.Resources) "Name" "asc" }}
        <div class="row no-gutters align-items-center">
            {{ $isEven := (modBool $index 2) }}
            {{ $iconClassName := cond ($isEven) "order-md-first" "order-md-last" }}
            {{ $bodyClassName := cond ($isEven) "order-md-last" "order-md-first" }}
            {{ if .Params.icon }}
                <div class="order-xs-first col-md-3 match-height icon bg-color-{{ $caseStudyBackground }} {{ $iconClassName }}">
                    <img src="/img/case-study-icons/{{ .Params.icon }}" alt="{{ .Title }}"/>
                </div>
            {{ end }}
            <div class="order-xs-last col-md-9 {{ $bodyClassName }}">
                <div class="card-body">
                    {{ if .Title }}
                        <h5 class="card-title">{{ .Title }}</h5>
                    {{ end }}
                    <p class="card-text">{{ .Content }}</p>
                    {{ range $key, $val := .Params.links }}
                        <a class="card-link btn btn-primary btn-sm" href="{{ $val  }}">{{ $key }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
</div>
