name: Pull Request CI Check
on: [pull_request]
jobs:
  get-go-version:
    uses: ./.github/workflows/get-go-version.yaml
    with:
      ref: ${{ github.event.pull_request.base.ref }}

  build:
    name: Run CI
    needs: get-go-version
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Check out the code
        uses: actions/checkout@v6

      - name: Set up Go version
        uses: actions/setup-go@v6
        with:
          go-version: ${{ needs.get-go-version.outputs.version }}      

      - name: Make ci
        run: make ci
      - name: Upload test coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.out
          verbose: true
          fail_ci_if_error: true
